services:
  mariadb:
    container_name: mariadb_container
    build: ./requirements/mariadb
    image: inception-mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file:
      - .env
    restart: always
    expose:
      - "3306"
    networks:
      - inception

  wordpress:
    container_name: wordpress_container
    build: ./requirements/wordpress
    image: inception-wordpress
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/wordpress
    env_file:
      - .env
    restart: always
    expose:
      - "9000"
    networks:
      - inception

  nginx:
    container_name: nginx_container
    build: ./requirements/nginx
    image: inception-nginx
    depends_on:
      - wordpress
    volumes:
      - wordpress:/var/www/wordpress
    env_file:
      - .env
    restart: always
    ports:
      - "${PORT:-443}:443"
    networks:
      - inception

networks:
  inception:
    driver: bridge

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/mariadb
      o: bind
  wordpress:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/wordpress
      o: bind